
@charset "UTF-8";

a {
    display: block
}

.spacing {
    margin-top: 8px;
    overflow: hidden
}

.text-decoration {
    text-decoration: line-through
}

.more {
    width: 100%;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #3b9bff;
    letter-spacing: 6px;
    padding-bottom: 22px;
    background: #fff
}

/* .go-top {
    position: fixed;
    right: 16px;
    bottom: 2px;
    width: 38px;
    height: 38px;
    z-index: 20;
    background: url(//cres1.fenqile.cn/fenqile_m/img/app/search/go_top_icon--b7316fb9a4.png) no-repeat center;
    background-size: contain
} */

@font-face {
    font-family: iconfont;
    src: url(//m.fenqile.com/res/iconfont/fonts.eot?v=20170711);
    src: url(//m.fenqile.com/res/iconfont/fonts.eot?#iefix) format('embedded-opentype'), url(../../assets/fonts.woff?v=20170711) format('woff'), url(../../assets/fonts.ttf?v=20170711) format('truetype'), url(//m.fenqile.com/res/iconfont/fonts.svg?v=20170711) format('svg')
}

.iconfont {
    line-height: 1em;
    font-family: iconfont;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: '';
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none
}

.iconfont:before {
    line-height: 1em
}

.wf-cart:before {
    content: '\e900'
}

.wf-message:before {
    content: '\e901'
}

.wf-nav:before {
    content: '\e902'
}

.wf-search:before {
    content: '\e903'
}

.wf-arrow-up:before {
    content: '\e904'
}

.wf-arrow-down:before {
    content: '\e905'
}

.wf-new-search:before {
    content: '\e907'
}

.wf-new-message:before {
    content: '\e908'
}

.header {
    background-image: none;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%
}

.app-ios-header div.headerpt,
.app-android-header div.headerpt {
    padding-top: 65px
}

.app-ios-header div.headerpt:before,
.app-android-header div.headerpt:before {
    background-color: #fff
}

.download-wrap {
    max-width: 750px;
    min-width: 320px;
    margin: 0 auto;
    width: 100%;
    height: 62px;
    position: relative;
    background: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: box;
    -webkit-box-align: center;
    box-align: center;
    z-index: 1000
}

.download-wrap a {
    display: block;
    height: 62px;
    position: absolute
}

.download-wrap a:first-child {
    width: 45px;
    left: 0
}

.download-wrap a.download-btn {
    width: 88px;
    right: 0
}

.download-wrap img {
    background: 0 0;
    height: 100%
}

.download-wrap .download-tips {
    height: 100%;
    position: absolute;
    left: 45px
}

.download-wrap:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #e8eaea;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0
}

.headerpt {
    padding-top: 45px
}

.headerpt.ios-headerpt {
    padding-top: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10
}

.headerpt.ios-headerpt .header {
    position: relative
}

.headerpt.android-headerpt .header-wrap {
    position: relative
}

.headerpt.android-headerpt .header-wrap.headerpt-fix {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    margin-top: 0;
    z-index: 10;
    max-width: 750px;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box
}

.headerpt.android-headerpt .header-wrap .header {
    position: absolute;
    top: -45px
}

.search-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: box;
    -webkit-box-align: center;
    box-align: center;
    padding: 0 12px;
    height: 45px
}

.search-header .search-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: rgba(0, 0, 0, .05);
    height: 32px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: box;
    -webkit-box-align: center;
    box-align: center;
    border-radius: 4px
}

.search-header .search-wrap .search-inner {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.search-header .search-wrap .search-text {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 13px;
    text-align: left;
    color: #b9bdc6
}

.header-border:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    content: ' ';
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(160, 160, 160, .6);
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0
}

.head-img {
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 7px
}

.head-img img {
    border-radius: 50%;
    background: 0 0
}

.search-icon {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 1.2rem;
    margin-right: .8rem;
    background: url(//cres1.fenqile.cn/fenqile_m/img/app/search/search_icon--1765c0cac3.png) no-repeat center;
    background-size: contain
}

.wf-new-search {
    width: 16px;
    height: 16px;
    margin-left: 12px;
    margin-right: 8px;
    font-size: 16px;
    color: #a1a5b1;
    margin-top: 3px
}

.wf-new-message {
    font-size: 24px;
    color: #828da5
}

.message {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 10px
}

.message .new-message {
    display: block;
    content: ' ';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fe4979;
    position: absolute;
    top: 0;
    right: 0
}

.head-scan .icon-scan,
.head-cart .icon-cart {
    display: block;
    background: url(//cres1.fenqile.cn/fenqile_m/img/global/global--004ee39f9f.png) no-repeat;
    background-size: 100px 100px
}

.head-scan {
    padding: 3px;
    margin-right: 10px
}

.head-scan .icon-scan {
    width: 20px;
    height: 20px;
    background-position: 0 -45px
}

.head-cart {
    margin-left: 8px;
    padding: 4px 3px;
    font-size: 20px;
    color: #979dab;
    position: relative
}

.head-cart .icon-cart {
    width: 20px;
    height: 18px;
    background-position: 0 -70px
}

.head-cart .cart-num {
    position: absolute;
    top: -2px;
    right: -7px;
    display: inline-block;
    padding: 0 8px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    font-style: normal;
    color: #fff;
    letter-spacing: 0;
    background: #fe4979;
    border: 1px solid #fff;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.head-sale {
    display: block;
    width: 26px;
    height: 26px;
    margin-left: 10px
}

.head-sale img {
    border-radius: 4px
}

.tips-wrap {
    background-color: #fff;
    padding: 15px 15px 3px 16px;
    background-image: none;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.tips-wrap p {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 15px;
    color: #757c8e;
    line-height: 18px
}

.tips-wrap .tips-handle {
    font-size: 13px;
    color: #3b9bff;
    line-height: 16px
}

.tips-wrap .wf-arrow-down {
    font-size: 1rem;
    color: #a1a5b1;
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: -1.5px;
    margin-left: 8px
}

.index-nav {
    width: 100%;
    background-color: #fff;
    background-image: none;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.index-nav li {
    width: 20%;
    float: left;
    height: 92px;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    text-align: center
}

.index-nav li img {
    width: 48px;
    height: 48px;
    margin: 0 auto 4px;
    background: 0 0
}

.index-nav li a {
    width: 100%;
    display: block;
    color: #757c8e;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.index-nav:before {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    content: ' ';
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(208, 214, 223, .7);
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0
}

.index-nav.clear-border:before {
    display: none
}

.swiper-container {
    padding-top: 8px;
    background-color: #fff
}

.swiper-container a {
    display: block
}

.swiper-container .swiper-pagination .swiper-pagination-bullet {
    margin: 0 0 0 4px;
    width: 6px;
    height: 6px;
    background: #fff;
    opacity: .4
}

.swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #fff;
    opacity: .8
}

.swiper-container .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 12px
}

.swiper-container.ad-banner {
    padding-top: 12px
}

.swiper-container.ad-banner a {
    padding: 0 16px
}

.swiper-container.ad-banner a img {
    border-radius: 4px
}

.swiper-container+.banner-wrap {
    padding-top: 12px
}

.banner-wrap,
.hot-market {
    width: 100%;
    overflow: hidden;
    background: #fff
}

.banner-two {
    padding: 0 12px 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: multiple;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    overflow: hidden
}

.banner-two li {
    width: 50%;
    min-height: 56px;
    margin-bottom: 8px;
    padding: 0 4px;
    box-sizing: border-box
}

.banner-two li a {
    display: block
}

.hot-classes .banner-two,
.hot-market .banner-two {
    padding-bottom: 8px
}

.banner-three {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: multiple;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    overflow: hidden
}

.banner-three li {
    width: 33.333333%;
    min-height: 70px;
    padding: 0 4px;
    margin-bottom: 8px;
    box-sizing: border-box
}

.banner-three li a {
    display: block
}

.title-wrap {
	/* line-height: 64px; */
    padding: 0 16px;
    height: 64px; 
    background: #fff;
    position: relative;
    display: flex;
    display: box;
    -webkit-box-align: center;
    box-align: center
}

.title-wrap .detail-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    color: #25324e
}

.title-wrap .title-more {
    display: block;
    font-size: 14px;
    color: #B9BDC6
}

.title-wrap .title-more:after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 2px;
    border-top: 1px solid #b9bdc6;
    border-right: 1px solid #b9bdc6;
    -wekbit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.time-wrap {
    align-items: center;
    color: #e3e4e8;
    line-height: 0;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.time-wrap .time-tip {
    display: block;
    font-size: 13px;
    color: #979dab;
    line-height: 20px;
    margin-right: 4px
}

.time-wrap .time-hour,
.time-wrap .time-min,
.time-wrap .time-sec {
    display: block;
    width: 22px;
    height: 20px;
    background: #3c3f56;
    border-radius: 2px;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    position: relative
}

.time-wrap .time-hour:after,
.time-wrap .time-min:after,
.time-wrap .time-sec:after {
    display: block;
    content: ' ';
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    background: rgba(255, 255, 255, .1);
    border-top: 1px solid rgba(106, 112, 127, .66);
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0
}

.time-wrap .time-hour {
    margin-right: 4px
}

.time-wrap .time-min {
    margin: 0 4px
}

.time-wrap .time-sec {
    margin-left: 4px
}

.pro-tag {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 30px;
    line-height: 18px;
    padding: 0 2px 0 4px;
    font-size: 9px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    background-image: linear-gradient(90deg, #fe4979 0, #fc263e 100%);
    z-index: 0
}

.pro-tag:after {
    position: absolute;
    right: -8px;
    top: 0;
    display: inline-block;
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fc263e;
    z-index: -1
}

.slider-seckill {
    padding-top: 0
}

.slider-seckill .lists-pro {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.slider-seckill .lists-pro li {
    width: 27.2%;
    box-sizing: border-box;
    margin: 0 4px
}

.slider-seckill .lists-pro li:first-child {
    margin-left: 12px
}

.slider-seckill .lists-pro li:last-child {
    margin-right: 12px
}

.slider-seckill .lists-pro li.car-error {
    height: 177px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center
}

.slider-seckill .lists-pro .item {
    padding-top:5px;
    padding-bottom: 3px;
    position: relative
}

.slider-seckill .lists-pro .item-img {
    background-image: url(../../assets/images/imgbg.png);
    width: 78px;
    height: 78px;
    margin: 0 auto;
    overflow: hidden
}

.slider-seckill .lists-pro .item-info {
    text-align: center
}

.slider-seckill .lists-pro .item-price {
    line-height: 14px;
    font-size: 12px;
    color: #979dab;
    text-decoration: line-through
}

.slider-seckill .lists-pro .item-pay {
    height: 16px;
    line-height: 16px;
    font-size: 10px;
    margin-bottom: 4px;
    font-weight: 500;
    color: #979dab
}

.slider-seckill .lists-pro .item-pay span {
    color: #fe4979;
    font-size: 12px;
    font-weight: 500
}

.slider-seckill .lists-pro .item-pay span i {
    padding-right: 1px;
    font-size: 10px;
    font-style: normal
}

.slider-seckill .more-seckill {
    height: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box
}

.slider-seckill .more-seckill .more-link {
    display: block;
    width: 100%;
    max-width: 102px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    color: #25324e;
    text-align: center;
    position: relative;
    border: 1px solid #E8EAEE;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center
}

.slider-seckill .more-seckill .more-txt {
    padding: 0 15px;
    line-height: 16px;
    font-size: 12px;
    color: #25324e;
    letter-spacing: 2px
}

.slider-seckill .more-seckill span {
    display: block;
    padding-bottom: 8px;
    margin-bottom: 6px;
    border-bottom: 1px solid #e8eaee;
    font-size: 16px;
    color: #979DAB
}

.item-car-pay {
    color: #fe4979;
    font-size: 13px;
    font-weight: 500
}

.item-car-price {
    font-size: 12px;
    color: #737c8e
}

.item-car-brand {
    margin-top: 2px;
    font-size: 10px;
    color: #969daa
}

.car-error .error-box {
    text-align: center
}

.car-error .error-txt {
    line-height: 16px;
    font-size: 14px;
    color: rgba(37, 50, 78, .5)
}

.car-error .error-btn {
    display: block;
    width: 96px;
    height: 32px;
    line-height: 32px;
    margin: 24px auto 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #757c8e;
    position: relative
}

.car-error .error-btn:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 200%;
    height: 200%;
    box-sizing: border-box;
    border: 1px solid #dadee6;
    border-radius: 2px;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.sale-wrap {
    background: #fff
}

.sale-wrap .sale-brand {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100px;
    position: relative
}

.sale-wrap .sale-brand .active-time {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 24px;
    padding: 0 6px;
    font-size: 12px;
    color: rgba(255, 255, 255, .8);
    border-top-left-radius: 8px;
    background-color: rgba(37, 50, 78, .24)
}

.sale-wrap .sale-brand .active-time span {
    margin-left: 3px
}

.sale-wrap~.more {
    padding-top: 10px
}

.lists-pro-three {
    padding: 12px 16px;
    margin-left: -1%;
    margin-right: -1%;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.lists-pro-three li {
    width: 33.33%;
    padding-top: 12px;
    padding-bottom: 16px
}

.lists-pro-three .item {
    padding: 0 1%
}

.lists-pro-three .item-img {
    position: relative;
    width: 85px;
    height: 85px;
    margin: 0 auto 16px;
    overflow: hidden
}

.lists-pro-three .item-info {
    width: 85px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.lists-pro-three .off-tag-wp {
    height: 18px
}

.lists-pro-three .leka {
    margin-top: 6px;
    color: #25324e
}

.lists-pro-three .leka-icon {
    display: inline-block;
    width: 16px;
    height: 12px;
    vertical-align: middle;
    margin-bottom: 3px;
    background: url(//cres2.fenqile.cn/fenqile_m/img/app/search/leka--d22663f89a.png) no-repeat center;
    background-size: contain
}

.lists-pro-three .leka-price {
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    margin-right: 4px;
    font-style: normal
}

.lists-pro-three .item-pay {
    height: 15px;
    line-height: 15px;
    font-size: 11px;
    padding-top: 2px;
    color: #979dab
}

.lists-pro-three .item-pay .item-pay-num {
    color: #FE4979;
    font-size: 14px;
    font-weight: 500
}

.lists-pro-three .item-pay .item-pay-num i {
    padding-right: 1px;
    font-size: 11px;
    font-style: normal
}

.lists-pro-three .item-pay .item-month {
    font-size: 11px;
    color: #979dab
}

.lists-pro-three .shop-tag {
    position: relative;
    display: inline-block;
    font-size: 9px;
    height: 12px;
    line-height: 12px;
    font-weight: 500;
    padding: 1px 2px;
    box-sizing: border-box;
    z-index: 1;
    color: #FE4979
}

.lists-pro-three .shop-tag:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #FE4979;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: calc(200% + 2px);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.lists-pro-three .shop-tag.self-tag {
    position: relative;
    top: -.2rem;
    left: .2rem
}

.gift-four {
    background: #fff;
    padding: 0 11px 0 16px;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden
}

.gift-four li {
    margin-right: 5px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.gift-four a {
    display: block
}

.gift-four a img {
    background: 0 0
}

.lists-gifts {
    padding: 24px 16px 6px;
    background-color: #fff
}

.lists-gifts li {
    padding-bottom: 24px
}

.lists-gifts .item {
    display: -webkit-box
}

.lists-gifts .item-img {
    width: 140px;
    height: 140px;
    margin-right: 8px;
    display: -webkit-box;
    -webkit-box-align: center;
    position: relative
}

.lists-gifts .item-img:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    content: '';
    border: 1px solid #e5e8ed;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box
}

.lists-gifts .item-img img {
    max-height: 100%
}

.lists-gifts .item-info {
    height: 140px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    -webkit-box-pack: center;
    /* autoprefixer: off */
    -webkit-box-orient: vertical
    /* autoprefixer: on */
}

.lists-gifts .item-info .info-top {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.lists-gifts .item-info .item-title {
    height: 16px;
    line-height: 16px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #25324E;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.lists-gifts .item-info .item-des {
    line-height: 20px;
    font-size: 13px;
    color: #25324e;
    opacity: .6;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.lists-gifts .item-pay {
    margin-bottom: 12px;
    font-size: 13px;
    font-weight: 500;
    color: #979dab
}

.lists-gifts .item-pay span {
    color: #fe4979;
    font-size: 16px;
    font-weight: 500
}

.lists-gifts .item-pay span i {
    padding-right: 1px;
    font-size: 12px;
    font-style: normal
}

.lists-gifts .item-bottom {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    margin-bottom: 6px
}

.lists-gifts .item-bottom .item-love {
    display: -webkit-box
}

.lists-gifts .item-bottom .i-like {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    background: url(//cres1.fenqile.cn/fenqile_m/img/channel/i_like_before--053b2e8bb0.png) no-repeat center;
    background-size: 16px 15px;
    position: relative;
    top: 1px
}

.lists-gifts .item-bottom .num-love {
    color: #394050;
    opacity: .4
}

.lists-gifts .item-bottom .num-sales {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #25324e;
    opacity: .4;
    text-align: right
}

.img-wrap {
    width: 72.25%;
    margin: 213px auto 0
}

.img-wrap a {
    display: block;
    margin: 40px auto 0;
    width: 71.7%
}

@media screen and (max-width:320px) {
    .img-wrap {
        margin: 180px auto 0
    }
}

.banner-two-wrap,
.banner-three-wrap,
.banner-four-wrap {
    background: #fff
}

.banner-two-wrap li,
.banner-three-wrap li,
.banner-four-wrap li {
    width: 50%;
    float: left;
    padding: 0;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.banner-two-wrap li a,
.banner-three-wrap li a,
.banner-four-wrap li a {
    display: block
}

.banner-three-wrap li {
    width: 33.3333%
}

.banner-four-wrap li {
    width: 25%
}

.shop-one-list {
    background: #fff
}

.shop-one-list .shop-item {
    position: relative;
    padding: 5px 0;
    margin: 0 16px
}

.shop-one-list .shop-item:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    content: ' ';
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #e8eaea;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0
}

.shop-one-list .shop-item:last-child:after {
    display: none
}

.shop-one-list .shop-item a {
    display: block;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.shop-one-list .shop-item .item-img {
    height: 90px;
    width: 90px;
    margin-right: 12px;
    padding: 20px;
    background-color: #fff;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center
}

.shop-one-list .shop-item .item-img img {
    max-height: 100%;
    background: 0 0
}

.shop-one-list .shop-item .item-detail {
    margin-top: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.shop-one-list .shop-item .item-detail .item-tit {
    font-size: 13px;
    color: #25324e;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 18px;
    height: 36px;
    word-break: break-all
}

.shop-one-list .shop-item .item-detail .item-bottom {
    margin-top: 18px
}

.shop-one-list .shop-item .item-detail .item-bottom .price-mon {
    font-size: 0;
    color: #579de7;
    margin-top: 5px
}

.shop-one-list .shop-item .item-detail .item-bottom .price-mon span {
    font-size: 12px
}

.shop-one-list .shop-item .item-detail .item-bottom .price-mon span.tip-tag {
    font-size: 9px
}

.shop-one-list .shop-item .item-detail .item-bottom .price-all {
    font-size: 12px;
    color: #979dab;
    position: relative
}

.shop-two-list {
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: multiple;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    overflow: hidden;
    position: relative
}

.shop-two-list:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e5e8ed;
    box-sizing: border-box;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 0
}

.shop-two-list .pro-tag {
    z-index: 2;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.shop-two-list .shop-item {
    float: left;
    width: 50%;
    position: relative
}

.shop-two-list .shop-item:before {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    content: ' ';
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #e5e8ed;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    bottom: 0;
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom
}

.shop-two-list .shop-item:nth-child(odd):after {
    display: block;
    content: " ";
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #e5e8ed;
    -webkit-transform: scaleX(0.5);
    -ms-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    position: absolute;
    top: 0;
    right: 0
}

.shop-two-list .shop-item .item {
    display: block;
    padding: 8px 12px 18px;
    font-size: 13px;
    color: #25324e;
    text-align: left
}

.shop-two-list .shop-item .item-img {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 12px auto 24px;
    overflow: hidden;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center
}

.shop-two-list .shop-item .item-img img {
    max-height: 100%;
    background: 0 0
}

.shop-two-list .shop-item .item-title {
    height: 16px;
    line-height: 16px;
    margin-bottom: 12px;
    font-size: 13px;
    font-weight: 500;
    color: #25324E;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.shop-two-list .shop-item .item-price {
    display: -webkit-box;
    -webkit-box-pack: start;
    -webkit-box-align: center;
    height: 18px
}

.shop-two-list .shop-item .price {
    font-size: 10px;
    color: #979DAB
}

.shop-two-list .shop-item .leka {
    color: #25324e
}

.shop-two-list .shop-item .leka-icon {
    display: inline-block;
    width: 16px;
    height: 12px;
    vertical-align: middle;
    margin-bottom: 3px;
    background: url(//cres2.fenqile.cn/fenqile_m/img/app/search/leka--d22663f89a.png) no-repeat center;
    background-size: contain
}

.shop-two-list .shop-item .leka-price {
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    margin-right: 4px;
    font-style: normal
}

.shop-two-list .shop-item .item-pay {
    line-height: 14px;
    margin-top: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #979dab
}

.shop-two-list .shop-item .item-pay span {
    color: #fe4979;
    font-size: 16px;
    font-weight: 500
}

.shop-two-list .shop-item .item-pay span i {
    padding-right: 1px;
    font-size: 12px;
    font-style: normal
}

.shop-two-list .shop-item .item-pay .item-pay-num {
    color: #FE4979;
    font-weight: 500;
    font-size: 14px
}

.shop-two-list .shop-item .item-pay .item-pay-num i {
    padding-right: 1px;
    font-size: 11px;
    font-style: normal
}

.shop-two-list .shop-item .item-pay .item-month {
    font-size: 11px;
    color: #979DAB
}

.shop-two-list .shop-item .shop-tag {
    position: relative;
    font-size: 9px;
    height: 12px;
    line-height: 12px;
    font-weight: 500;
    padding: 1px 2px;
    box-sizing: border-box;
    z-index: 1;
    color: #FE4979
}

.shop-two-list .shop-item .shop-tag:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #FE4979;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: calc(200% + 2px);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.shop-two-list .shop-item .shop-tag.self-tag {
    position: relative;
    top: -.2rem;
    left: .2rem
}

.label-tip {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    background: rgba(237, 95, 134, .7)
}

.tip-tag {
    display: inline-block;
    line-height: 10px;
    font-size: 9px;
    background: #ed5f86;
    color: #fff;
    padding: 2px;
    border-radius: 2px;
    letter-spacing: -.17px;
    margin-right: 3px
}

.border:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    content: ' ';
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #e5e8ed;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0
}

.slider-brands {
    padding-top: 0;
    padding-left: 16px
}

.slider-brands .lists-brands {
    margin-left: -1.2%
}

.slider-brands li {
    width: 19.2%;
    min-height: 34px;
    padding-left: 1.2%;
    padding-right: 1.2%;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 2px;
    position: relative
}

.slider-brands li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 12px;
    border-radius: 1px;
    background-color: #e5e8ed;
    -webkit-transform: scaleX(0.5) translateY(-50%);
    transform: scaleX(0.5) translateY(-50%)
}

.slider-brands li:first-child:before {
    content: none
}

.slider-brands li.on {
    background-color: #f7f9fa
}

.slider-brands li.on:before {
    content: none
}

.slider-brands li.on+li:before {
    content: none
}

.lists-pro-brand {
    padding: 0 16px 8px;
    background-color: #fff
}

.lists-pro-brand li {
    box-sizing: content-box;
    height: 104px;
    padding-left: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative
}

.lists-pro-brand li:not(:last-child):after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e5e8ed;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5)
}

.lists-pro-brand li.slider-error {
    height: 576px;
    padding: 0;
    background-color: #fff;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center
}

.lists-pro-brand li.slider-error .error-box {
    text-align: center
}

.lists-pro-brand li.slider-error .error-txt {
    line-height: 16px;
    font-size: 14px;
    color: rgba(37, 50, 78, .5)
}

.lists-pro-brand li.slider-error .error-btn {
    display: block;
    width: 96px;
    height: 32px;
    line-height: 32px;
    margin: 24px auto 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #757c8e;
    position: relative
}

.lists-pro-brand li.slider-error .error-btn:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 200%;
    height: 200%;
    box-sizing: border-box;
    border: 1px solid #dadee6;
    border-radius: 2px;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.lists-pro-brand .item {
    display: -webkit-box
}

.lists-pro-brand .item-img {
    background-image: url(../../assets/images/imgbg.png);
    width: 104px;
    height: 104px;
    position: relative;
    margin-right: 20px;
    display: -webkit-box;
    -webkit-box-align: center
}

.lists-pro-brand .item-img img {
    max-height: 100%
}

.lists-pro-brand .item-info {
    height: 104px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.lists-pro-brand .item-info .info-top {
    /* autoprefixer: off */
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
     /* autoprefixer: on */
    flex: 1
}

.lists-pro-brand .item-info .item-title {
    height: 20px;
    line-height: 20px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #25324E;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.lists-pro-brand .item-info .item-des {
    height: 15px;
    overflow: hidden
}

.lists-pro-brand .item-info .item-des span {
    float: left;
    padding: 2px;
    margin-bottom: 2px;
    height: 14px;
    line-height: 14px;
    display: inline-block;
    font-size: 10px;
    color: #fe4979;
    box-sizing: border-box;
    position: relative
}

.lists-pro-brand .item-info .item-des span:not(:last-child) {
    margin-right: 4px
}

.lists-pro-brand .item-info .item-des span:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 200%;
    height: 200%;
    border: 1px solid #fe4979;
    border-radius: 4px;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.lists-pro-brand .item-price {
    display: -webkit-box;
    -webkit-box-pack: start;
    -webkit-box-align: center
}

.lists-pro-brand .price {
    font-size: 10px;
    color: #979DAB
}

.lists-pro-brand .leka {
    margin: 0;
    color: #25324e
}

.lists-pro-brand .leka-icon {
    display: inline-block;
    width: 16px;
    height: 12px;
    vertical-align: middle;
    margin-bottom: 3px;
    background: url(//cres2.fenqile.cn/fenqile_m/img/app/search/leka--d22663f89a.png) no-repeat center;
    background-size: contain
}

.lists-pro-brand .leka-price {
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    margin-right: 4px;
    font-style: normal
}

.lists-pro-brand .item-pay {
    height: 18px;
    line-height: 18px;
    font-size: 13px;
    font-weight: 500;
    color: #979dab
}

.lists-pro-brand .item-pay span {
    color: #fe4979;
    font-size: 16px;
    font-weight: 500
}

.lists-pro-brand .item-pay span i {
    padding-right: 1px;
    font-size: 12px;
    font-style: normal
}

.mask-sale {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%
}

.no-more {
    padding-top: 24px;
    padding-bottom: 36px;
    text-align: center
}

@media screen and (max-width:360px) {
    .lists-gifts .item-img {
        width: 130px;
        height: 130px
    }

    .lists-gifts .item-info {
        height: 130px
    }
}

@media screen and (max-width:320px) {
    .slider-seckill .more-seckill {
        padding-left: 0;
        padding-right: 0
    }

    .shop-two-list .shop-item .item-img img {
        width: 130px !important;
        height: 130px !important
    }

    .lists-gifts li {
        padding-bottom: 16px
    }

    .lists-gifts .item-img {
        width: 116px;
        height: 116px
    }

    .lists-gifts .item-info {
        height: 116px
    }

    .lists-gifts .item-pay {
        margin-bottom: 6px
    }

    .lists-gifts .item-bottom {
        font-size: 12px
    }

    .lists-gifts .item-bottom .i-like {
        margin-right: 3px
    }
}

.mask {
    max-width: 750px;
    min-width: 320px;
    margin: 0 auto;
    right: 0;
    bottom: 0
}

.mask-card {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    max-width: 750px;
    background: url(//cres1.fenqile.cn/fenqile_m/img/channel/mask_card2--5824744426.png) no-repeat left bottom;
    background-size: 100% auto
}

.mask-cart {
    position: absolute;
    top: 0;
    right: 2px;
    width: 316px;
    height: 122px;
    background: url(//cres1.fenqile.cn/fenqile_m/img/channel/mask_cart--40e0822681.png) no-repeat center;
    background-size: cover
}

.mask-card-top {
    top: 62px
}

.mask-message {
    position: absolute;
    bottom: 0;
    right: 3%;
    width: 273px;
    height: 117px;
    background: url(//cres1.fenqile.cn/fenqile_m/img/channel/mask_message2--f046ef5d9b.png) no-repeat center;
    background-size: cover
}