html,
body,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
fieldset,
input,
abbr,
article,
aside,
command,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
meter,
nav,
output,
progress,
section,
summary,
time,
td {
	margin: 0;
	padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
em,
th,
figcaption {
	font-weight: 400;
	font-style: normal
}

fieldset,
iframe {
	border: 0
}

caption,
th {
	text-align: left
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

ul {
	list-style: none outside
}

ins {
	text-decoration: none
}

article,
aside,
footer,
header,
hgroup,
nav,
section,
figure,
figcaption,
details,
summary {
	display: block
}

html,
body {
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-user-select: none;
	user-select: none
}

body {
	font-size: 13px;
	background-color: #f5f7f6;
	font-family: microsoft yahei, "Helvetica Neue", "pingfang sc";
	color: #666
}

img,
a img {
	border: 0
}

img {
	background: 0 0
}

a {
	text-decoration: none;
	color: #3b9bff
}

a:link,
a:hover,
a:active,
a:visited {
	text-decoration: none
}

a,
button,
input {
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0)
}

a:focus,
input:focus,
button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

input {
	outline: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	appearance: none
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button {
	margin: 0;
	outline: 0;
	-webkit-appearance: none !important;
	appearance: none
}

input[disabled],
input:disabled,
.input-disable {
	cursor: default;
	border: 1px solid #e2e2e2;
	background-color: #ebebe4;
	color: #000
}

textarea {
	border: 0;
	resize: none;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	appearance: none
}

select {
	border: 0;
	outline: 0;
	height: 23px;
	line-height: 23px;
	background-color: transparent;
	-webkit-appearance: none;
	appearance: none
}

body {
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto
}

html {
	-webkit-text-size-adjust: none;
	font-size: 10px !important
}

@media only screen and (min-width:375px) {
	html {
		font-size: 10.25px !important
	}
}

@media only screen and (min-width:540px) {
	html {
		font-size: 10.5px !important
	}
}

@media only screen and (min-width:750px) {
	html {
		font-size: 11px !important
	}
}

.db {
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.fx1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.v {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.vh {
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	box-align: center
}

.vm {
	display: box;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center
}

.horizontal-box {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	box-align: center
}

.justify {
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	justify-content: space-between
}

.text-ov {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.line-clamp {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

.scale-small {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5)
}

.scale-large {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2)
}

.fixedwidth {
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto;
	box-sizing: border-box
}

.html-ovh,
.html-ovh body {
	height: 100%;
	overflow: hidden
}

.imgauto,
.img-auto {
	display: block;
	height: auto;
	max-width: 100%;
	margin: 0 auto
}

.p-r,
.pr {
	position: relative
}

.clearfix,
.clear {
	zoom: 1
}

.clearfix:after,
.clear:after {
	display: block;
	clear: both;
	content: '\0020';
	visibility: hidden;
	height: 0
}

.fl {
	float: left
}

.fr {
	float: right
}

.g-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.text-center {
	text-align: center
}

.hide,
.fn-hide {
	display: none !important
}

.show {
	display: block !important
}

.v-hidden {
	visibility: hidden
}

.v-visible {
	visibility: visible
}

.bgfff {
	background-color: #fff
}

.c-main {
	color: #394050
}

.c-main-d {
	color: rgba(48, 64, 80, .8)
}

.c-main-m {
	color: rgba(48, 64, 80, .6)
}

.c-main-l {
	color: rgba(48, 64, 80, .4)
}

.c-white {
	color: #fff
}

.c-red {
	color: #ed5f86
}

.c-blue {
	color: #579de7
}

.c-yellow {
	color: #f59e00
}

.c-gray {
	color: #566272
}

.c92 {
	color: #929292
}

.cce {
	color: #cecece
}

.f16 {
	font-size: 16px
}

.f14 {
	font-size: 14px
}

.f12 {
	font-size: 12px
}

.ml5 {
	margin-left: 5px
}

.ml10 {
	margin-left: 10px
}

.ml15 {
	margin-left: 15px
}

.ml20 {
	margin-left: 20px
}

.mr5 {
	margin-right: 5px
}

.mr10 {
	margin-right: 10px
}

.mr15 {
	margin-right: 15px
}

.mr20 {
	margin-right: 20px
}

.mt5 {
	margin-top: 5px
}

.mt10 {
	margin-top: 10px
}

.mt15 {
	margin-top: 15px
}

.mt20 {
	margin-top: 20px
}

.mb5 {
	margin-bottom: 5px
}

.mb10 {
	margin-bottom: 10px
}

.mb15 {
	margin-bottom: 15px
}

.mb20 {
	margin-bottom: 20px
}

.ptb10 {
	padding: 10px 0
}

.ptb15 {
	padding: 15px 0
}

.ptb20 {
	padding: 20px 0
}

.plr10 {
	padding: 0 10px
}

.plr15 {
	padding: 0 15px
}

.plr20 {
	padding: 0 20px
}

.p10 {
	padding: 10px
}

.p15 {
	padding: 15px
}

.g-back {
	display: block;
	content: ' ';
	width: 12px;
	height: 12px;
	border-style: solid;
	border-color: #a7afc2;
	border-width: 1px 1px 0 0;
	-ms-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg)
}

.jt-right,
.jt-left,
.jt-bottom {
	display: block;
	content: ' ';
	width: 10px;
	height: 10px;
	border-style: solid;
	border-color: #a7afc2;
	border-width: 1px 1px 0 0
}

.jt-right {
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}

.jt-left {
	-ms-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg)
}

.jt-bottom {
	-ms-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg)
}

.input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #e2e2e2;
	width: 100%;
	height: 40px;
	font-size: 16px;
	padding-left: 10px;
	margin-bottom: 7px
}

.select {
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	font-size: 14px
}

.f-ov {
	overflow-y: auto;
	overflow-x: hidden
}

.fragment-bg {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1000;
	top: 0;
	background-color: #f1f1f1
}

.frg-content {
	display: block
}

.frg-show {
	height: 100%;
	overflow: hidden
}

.frg-show body {
	height: 100%;
	overflow: hidden
}

.half-inner-t:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
	content: ' ';
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #dfe2e9;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0
}

.half-inner-b:after {
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
	content: ' ';
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #dfe2e9;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0
}

.half-out-t:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
	content: ' ';
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #f5f7f6;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0
}

.half-out-b:after {
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
	content: ' ';
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #f5f7f6;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0
}

.half-tb:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
	content: ' ';
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #f5f7f6;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0
}

.half-tb:before:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
	content: ' ';
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #f5f7f6;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0
}

.half-tb:after {
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
	content: ' ';
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #f5f7f6;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0
}

.half-tb:after:after {
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
	content: ' ';
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #f5f7f6;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0
}

.half-px:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
	content: ' ';
	width: 200%;
	height: 200%;
	box-sizing: border-box;
	border: 1px solid #ed5f86;
	border-radius: 2px;
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0
}

.headerpt {
	padding-top: 44px
}

.header {
	text-align: center;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 999;
	-webkit-transition: background-color .2s linear;
	transition: background-color .2s linear;
	background-image: linear-gradient(180deg, #e8eaee, #e8eaee, transparent 50%), linear-gradient(270deg, #e8eaee, #e8eaee 50%, transparent 50%), linear-gradient(0deg, #e8eaee, #e8eaee 50%, transparent 50%), linear-gradient(90deg, #e8eaee, #e8eaee 50%, transparent 50%);
	background-size: 100% 0, 0 100%, 100% 1px, 0 100%;
	background-repeat: no-repeat;
	background-position: top, right top, bottom, left top;
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto;
	box-sizing: border-box
}

.header h1 {
	height: 44px;
	font-size: 17px;
	color: #25324e;
	line-height: 44px;
	margin: 0 auto;
	width: 72%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal
}

.header .g-back {
	left: 15px;
	top: 16px;
	position: absolute;
	border-color: #a1a5b1;
	border-width: 1px 1px 0 0
}

.header .g-left,
.header .g-right,
.header .g-right-w {
	position: absolute;
	font-size: 16px;
	color: #3b9bff;
	top: 0;
	min-width: 43px;
	height: 44px;
	padding: 0 10px;
	box-sizing: border-box;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center
}

.header .g-left {
	left: 0
}

.header .g-right,
.header .g-right-w {
	right: 0
}

.header .g-right-w {
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.header .g-right-w .g-right {
	position: static
}

.header-search {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	box-align: center;
	margin: 6px 43px 7px;
	height: 30px;
	background-color: #fff;
	border-radius: 5px
}

.header-search .header-search-text {
	background: 0 0;
	border: 0;
	width: 100%;
	height: 30px;
	line-height: 28px
}

.bankapp-headerpt-ios {
	padding-top: 64px;
	background-color: #fff
}

.bankapp-headerpt-ios .bankapp-header-ios {
	position: fixed !important;
	top: 0 !important;
	padding-top: 20px
}

.bankapp-headerpt-ios .bankapp-header-ios .g-back {
	top: 36px
}

.bankapp-headerpt-ios .bankapp-header-ios .g-left,
.bankapp-headerpt-ios .bankapp-header-ios .g-right,
.bankapp-headerpt-ios .bankapp-header-ios .g-right-w {
	top: 20px
}

.bankapp-headerpt-android {
	padding-top: 69px
}

.bankapp-header-android {
	top: 25px
}

.bottompd {
	padding-bottom: 50px
}

.nav {
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	left: 0;
	right: 0;
	height: 49px;
	position: fixed;
	bottom: 0;
	background-color: #fafafa;
	border-top: 1px solid #d9d9d9;
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto;
	box-sizing: border-box;
	z-index: 999
}

.nav ul {
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.nav ul li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
	width: 20%
}

.nav ul li a {
	color: #969696;
	height: 49px;
	text-align: center;
	display: block;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center
}

.nav ul li a .red-d {
	top: 2px;
	left: 50%;
	margin-left: 10px
}

.nav ul li a.on {
	color: #fe4979
}

.nav ul li a span {
	background-size: 23px;
	background-repeat: no-repeat;
	display: block;
	width: 23px;
	height: 23px;
	position: relative
}

.nav ul li a .quantity {
	position: absolute;
	width: 18px;
	height: 12px;
	line-height: 12px;
	background-color: #ff4979;
	border: 1px solid #fff;
	color: #fff;
	font-size: 8px;
	top: 1px;
	right: 15px;
	border-radius: 7px;
	display: block;
	text-align: center
}

.nav ul li a .center_icon {
	width: 64px;
	height: 50px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	top: -1px;
	margin-left: 3px
}

.a-text {
	position: relative;
	z-index: 3
}

.bankapp-nav {
	background-color: #fff;
	border-top: 1px solid #fff
}

.bankapp-nav ul li.on a {
	color: #3b9bff
}

.bankapp-nav ul a {
	font-size: 12px;
	color: #878a90;
	background-color: #fff
}

.btn* {
	margin: 0;
	padding: 0
}

.btn {
	display: inline-block;
	*display: inline;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	font-size: 16px;
	border-radius: 4px;
	width: 100%;
	padding: 11px 0;
	background-color: #3b9bff;
	border: 1px solid #3b9bff;
	color: #fff;
	outline: 0
}

.btn:active {
	background-color: #2a82f5;
	color: #fff
}

.btn-not-active {
	opacity: .7
}

.btn-gray,
.btn-gray:active {
	color: #fff;
	border-color: #ccced3;
	background-color: #ccced3
}

.btn-red {
	color: #fff;
	background-color: #fe4979;
	border-color: #fe4979
}

.btn-red:active {
	background-color: #ff2b63;
	color: #fff;
	border-color: #ff2b63
}

.btn-yellow,
.btn-yellow:active {
	color: #fff;
	background-color: #fed156;
	border: 1px solid #fed156
}

.btn-white,
.btn-white:active {
	color: #394050;
	background-color: #fff;
	border: 1px solid #fff
}

.btn-spirit,
.btn-spirit:active {
	color: #3b9bff;
	background-color: #394050;
	border: 1px solid #394050
}

.btn-disable,
.btn-disable:active {
	color: #394050;
	border: 1px solid #e8e8e8;
	background-color: #e8e8e8
}

.i-select {
	width: 1.6rem;
	height: 1.6rem;
	display: block;
	position: relative
}

.i-select.selected {
	background-color: #3b9bff;
	border-radius: 50%
}

.i-select.selected:before {
	border: 1px solid #3b9bff
}

.i-select:before {
	display: block;
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 200%;
	width: 200%;
	box-sizing: border-box;
	border: 1px solid #e8eaee;
	border-radius: 50%;
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0
}

.i-select:after {
	display: block;
	content: ' ';
	position: absolute;
	left: 3.5px;
	top: 4px;
	width: 1rem;
	height: .8rem;
	background-image: url( //cres1.fenqile.cn/fenqile_m/img/global/choose--78e4a37877.png) no-repeat;
		background-size:contain
}

.switch-box {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.switch-box input.switch-input[type=checkbox] {
	position: absolute;
	left: -9999px
}

.switch-box input.switch-input[type=checkbox]:checked~.switch-round {
	border-color: #3b9bff;
	background-color: #3b9bff
}

.switch-box input.switch-input[type=checkbox]:checked~.switch-round:before {
	-webkit-transform: scale(0);
	transform: scale(0)
}

.switch-box input.switch-input[type=checkbox]:checked~.switch-round:after {
	-webkit-transform: translateX(1.2rem);
	transform: translateX(1.2rem)
}

.switch-box .switch-round {
	position: relative;
	width: 2.8rem;
	height: 1.7rem;
	border: 1px solid #dfdfdf;
	outline: 0;
	border-radius: 1.6rem;
	box-sizing: border-box;
	background-color: #dfdfdf;
	-webkit-transition: background-color .1s, border .1s;
	transition: background-color .1s, border .1s
}

.switch-box .switch-round:before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 2.7rem;
	height: 1.7rem;
	border-radius: 1.5rem;
	background-color: #e7ebf2;
	-webkit-transition: -webkit-transform .35s cubic-bezier(0.45, 1, .4, 1);
	transition: -webkit-transform .35s cubic-bezier(0.45, 1, .4, 1);
	transition: transform .35s cubic-bezier(0.45, 1, .4, 1);
	transition: transform .35s cubic-bezier(0.45, 1, .4, 1), -webkit-transform .35s cubic-bezier(0.45, 1, .4, 1)
}

.switch-box .switch-round:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 1.5rem;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-webkit-transition: -webkit-transform .35s cubic-bezier(0.4, .4, .25, 1.35);
	transition: -webkit-transform .35s cubic-bezier(0.4, .4, .25, 1.35);
	transition: transform .35s cubic-bezier(0.4, .4, .25, 1.35);
	transition: transform .35s cubic-bezier(0.4, .4, .25, 1.35), -webkit-transform .35s cubic-bezier(0.4, .4, .25, 1.35)
}

input::-webkit-input-placeholder {
	font-size: 14px;
	color: rgba(86, 98, 114, .4)
}

.form-new {
	margin: 0;
	padding: 0;
	background-color: #fff
}

.form-new li {
	background-color: #fff;
	border-bottom: 1px solid #f0f0f0;
	list-style: none;
	padding: 6px 15px 6px 0;
	font-size: 16px;
	color: #666;
	margin-left: 15px
}

.form-new li.form-select {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	box-align: center;
	line-height: 32px
}

.form-new li.form-select .select-diy {
	height: 32px;
	line-height: 32px;
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative
}

.form-new li.form-select .select-diy .select-diy-text {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: right;
	background-color: #fff;
	padding-right: 23px;
	font-size: 14px;
	color: #1e1e1e
}

.form-new li.form-select .select-diy .select-diy-text.text-default {
	font-size: 16px;
	color: #1e1e1e
}

.form-new li.form-select .select-diy .select-diy-text i {
	width: 9px;
	height: 9px;
	border-style: solid;
	border-color: #b6b6b6;
	border-width: 1px 1px 0 0;
	-ms-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	right: 2px;
	position: absolute;
	top: 8px
}

.form-new li.form-select .select-diy .select-diy-ico {
	display: none
}

.form-new li.form-select .select-diy select, .form-new li.form-select .select-diy .time-date {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 32px;
	width: 100%;
	opacity: 0;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
	outline: 0;
	text-align: right;
	color: #1e1e1e;
	font-size: 14px
}

.form-new li.form-select .select-diy .time-date {
	opacity: 1;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	line-height: 32px;
	appearance: none;
	box-sizing: border-box;
	padding-right: 20px;
	left: initial;
	font-size: 14px
}

.form-new li.form-select .two-select-text {
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: -15px
}

.form-new li.form-select .two-select-text .select-diy {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-right: 15px;
	padding-right: 20px
}

.form-new li.form-select .two-select-text .select-diy-text {
	padding-right: 0
}

.form-new li.form-select-nolbl .select-diy .select-diy-text {
	text-align: left
}

.form-new li.form-input {
	position: relative;
	line-height: 32px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	box-align: center
}

.form-new li.form-input input {
	border: 0;
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	height: 32px;
	line-height: 32px;
	text-align: right;
	color: #1e1e1e;
	font-size: 16px
}

.form-new li.form-input .i-info {
	margin-left: 3px
}

.form-new li.form-input img {
	vertical-align: middle
}

.form-new li.form-input .clear-input {
	margin-right: -8px;
	margin-left: 2px
}

.form-new li.form-input-nolbl input {
	display: block;
	text-align: left
}

.form-new li.form-input-nolbl .form-text {
	text-align: left;
	color: #1e1e1e
}

.form-new li.form-text {
	line-height: 32px;
	color: #1e1e1e
}

.form-new li .form-text {
	line-height: 32px;
	text-align: right;
	color: #1e1e1e
}

.form-new li.form-textarea textarea {
	border: 0;
	min-height: 62px;
	line-height: 32px;
	width: 100%;
	font-size: 14px
}

.form-new li.form-link {
	position: relative;
	line-height: 32px;
	padding-right: 33px
}

.form-new li.form-link a {
	color: #666;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	box-align: center
}

.form-new li.form-link:after {
	content: ' ';
	width: 9px;
	height: 9px;
	border-style: solid;
	border-color: #b6b6b6;
	border-width: 1px 1px 0 0;
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	right: 17px;
	top: 50%;
	margin-top: -5px
}

.form-new li:last-child {
	border-bottom: 0 none
}

.form-new li .input-btn {
	display: block;
	padding-right: 15px;
	padding-left: 15px;
	height: 44px;
	line-height: 44px;
	color: #fff;
	font-size: 16px;
	background-color: #3e9bff;
	margin: -6px -15px -6px 0
}

.form-new li .input-btn.input-btn-disable {
	background-color: #c9c9c9
}

.form-new li.align-baseline {
	display: -webkit-box;
	display: box;
	-webkit-box-align: baseline;
	box-align: baseline
}

.tips-t {
	text-align: center;
	font-size: 13px;
	padding: 10px;
	color: #8e8e93
}

.tips-t .i-info {
	margin-right: 3px;
	vertical-align: text-bottom
}

.tips-tni {
	font-size: 14px;
	padding: 10px;
	color: #8e8e93
}

.form-mt .form-new {
	margin-top: 15px;
	border-top: 1px solid #f0f0f0
}

.form-mt .form-new:first-child {
	margin-top: 0
}

.form-tip {
	padding: 10px 15px 0;
	font-size: 12px;
	line-height: 18px
}

.form-tip.form-tip-qna {
	color: #929292
}

.form-tip.form-tip-qna:after {
	display: inline-block;
	content: ' ';
	width: 14px;
	height: 14px;
	background: url( //cres.fenqile.cn/fenqile_m/img/global/i_qna.png) no-repeat;
		background-size:100%;
	margin-left: 4px;
	vertical-align: text-bottom
}

.form-hd {
	margin-top: 16px
}

.form-hd .form-new {
	margin-top: 0
}

.form-hd .form-tip-hd {
	padding: 0 15px 5px;
	font-size: 13px
}

.form-hd .form-tip-hd .i-info {
	vertical-align: middle
}

.form-new li.form-input .edit-box input {
	width: 95%
}

.form-new li.form-input .edit-box .i-edit, .form-new li.form-input .edit-box .edit {
	background: url( //cres.fenqile.cn/fenqile_m/img/global/i_edit.png) no-repeat;
		width:15px;
	height: 12px;
	vertical-align: middle;
	right: 12px;
	position: absolute;
	background-size: contain;
	display: inline-block;
	top: 16px
}

.fixed-bottom {
	height: 80px
}

.fixed-bottom-btn {
	padding: 10px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ededed;
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto;
	box-sizing: border-box
}

.swipe {
	visibility: hidden
}

.swipe, .swipe-wrap {
	overflow: hidden;
	position: relative
}

.swipe-wrap>div {
	float: left;
	width: 100%;
	position: relative
}

.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	z-index: 1
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative
}

.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
	touch-action: pan-y
}

.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
	touch-action: pan-x
}

.swiper-pagination {
	position: absolute;
	text-align: center;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: 10px;
	left: 0;
	width: 100%
}

.swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	margin: 0 5px;
	display: inline-block;
	border-radius: 100%;
	background: #000;
	opacity: .3
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #fff;
	opacity: 1
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px
}

.i-v-action {
	position: absolute;
	bottom: .5rem;
	right: 1rem
}

.i-v-action span {
	display: inline-block;
	width: .5rem;
	height: .5rem;
	margin-right: .3rem;
	border-radius: 50%;
	background-color: #fff
}

.i-v-action span.on {
	background-color: #ffce35
}

.i-info {
	display: inline-block;
	background: url( //cres.fenqile.cn/fenqile_m/img/global/i_info.png) no-repeat;
		width:17px;
	height: 16px;
	background-size: 100%;
	vertical-align: text-bottom
}

.i-qna, .i-qus-mark {
	display: inline-block;
	background: url( //cres.fenqile.cn/fenqile_m/img/global/i_qna.png) no-repeat;
		width:17px;
	height: 17px;
	background-size: 100%
}

.imgcode-refresh {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url( //cres.fenqile.cn/fenqile_m/img/global/i_refresh.png) no-repeat;
		background-size:100%;
	margin-right: 5px;
	vertical-align: middle
}

.i-edit {
	display: block;
	width: 16px;
	height: 16px;
	background: url( //cres.fenqile.cn/fenqile_m/img/global/i_edit.png) no-repeat;
		background-size:100%
}

.i-refresh {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url( //cres.fenqile.cn/fenqile_m/img/global/i_refresh.png) no-repeat;
		background-size:100%;
	margin-right: 3px
}

.i-share, .i-sharef {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url( //cres.fenqile.cn/fenqile_m/img/global/i_share.png) no-repeat;
		background-size:100%
}

.mobile-operate {
	position: relative
}

.mobile-operate .mobile-close {
	width: 20px;
	height: 20px;
	background-color: rgba(0, 0, 0, .3);
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	right: 10px;
	text-align: center
}

.mobile-operate .i-close {
	width: 14px;
	height: 1px;
	background: #fff;
	font-size: 0;
	line-height: 0;
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	display: block;
	position: absolute;
	left: 3px;
	top: 9px
}

.mobile-operate .i-close:after {
	content: '.';
	display: block;
	width: 14px;
	height: 1px;
	background: #fff;
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

.free-gif-mask {
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	bottom: 0;
	z-index: 999
}

.free-gif {
	text-align: center;
	margin-top: 80px
}

.free-gif h3 {
	color: #fff;
	font-size: 20px;
	margin: 10px
}

.free-gif p {
	color: #c3c3c3;
	font-size: 12px
}

.gifimg {
	width: 100px;
	height: 88px;
	overflow: hidden;
	text-align: center;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 auto;
	padding-top: 12px
}

.pop-box {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2000;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .6);
	display: box;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center
}

.pop-box .pay-box {
	position: static;
	width: 85%
}

.pay-box {
	background-color: #fff;
	border-radius: 8px;
	z-index: 10002;
	left: 12px;
	right: 12px;
	position: fixed
}

.pay-box .pay-box-title {
	color: #0d0d0f;
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #cacaca;
	padding: 13px 0;
	font-weight: 700;
	position: relative
}

.pay-box .pay-box-body {
	padding: 15px
}

.pay-box .pay-close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 7px;
	right: 10px
}

.pay-box .pay-input {
	border: 1px solid #cacaca;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	box-align: center;
	background-color: #fff;
	height: 40px;
	margin: 5px 0
}

.pay-box .pay-input input {
	width: 100%;
	border: 0;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	font-size: 14px
}

.pay-box .i-close {
	display: inline-block;
	width: 22px;
	height: 1px;
	background: #7e7e7e;
	font-size: 0;
	line-height: 0;
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}

.pay-box .i-close:after {
	content: '.';
	display: block;
	width: 22px;
	height: 1px;
	background: #7e7e7e;
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

.mask {
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000
}

.mask-fadein, .mask-fadeinright {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.mask-fadein .mask, .mask-fadeinright .mask {
	-webkit-animation: fadeIn .5s .2s ease both;
	-moz-animation: fadeIn .5s .2s ease both
}

.mask-fadein .f-ov>div, .mask-fadein .fui-f-ov>div {
	z-index: 1000;
	-webkit-animation: fadeInUpBig .5s .2s ease both;
	-moz-animation: fadeInUpBig .5s .2s ease both
}

.mask-fadeinright .f-ov>div, .mask-fadeinright .fui-f-ov>div {
	z-index: 1000;
	-webkit-animation: fadeInRight .5s .2s ease both;
	-moz-animation: fadeInRight .5s .2s ease both
}

.mask-fadeout .mask {
	-webkit-animation: maskout .5s .4s ease both;
	-moz-animation: maskout .5s .4s ease both
}

@-webkit-keyframes maskout {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@-moz-keyframes maskout {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

.mask-fadeout .f-ov>div, .mask-fadeout .fui-f-ov>div {
	-webkit-animation: maskdivout .5s .2s ease both;
	-moz-animation: maskdivout .5s .2s ease both
}

@-webkit-keyframes maskdivout {
	0% {
		-webkit-transform: translateY(0)
	}

	100% {
		-webkit-transform: translateY(1000px);
		display: none
	}
}

@-moz-keyframes maskdivout {
	0% {
		-moz-transform: translateY(0)
	}

	100% {
		-moz-transform: translateY(1000px);
		display: none
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: translateY(5px);
		opacity: 0
	}

	100% {
		-webkit-transform: translateY(0);
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		transform: translateY(5px);
		opacity: 0
	}

	100% {
		transform: translateY(0);
		opacity: 1
	}
}

@-webkit-keyframes fadeInRight {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		opacity: 0
	}

	100% {
		-webkit-transform: translate3d(0, 0, 0);
		opacity: 1
	}
}

@keyframes fadeInRight {
	0% {
		transform: translate3d(100%, 0, 0);
		opacity: 0
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
}

@-webkit-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(500px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0)
	}
}

@keyframes fadeInUpBig {
	0% {
		opacity: 0;
		transform: translateY(500px)
	}

	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

.box-open-scale {
	-webkit-animation: fuiOpenScale .6s 0s ease both;
	animation: fuiOpenScale .6s 0s ease both
}

@-webkit-keyframes fuiOpenScale {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0)
	}

	40% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

	60% {
		opacity: .9;
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes fuiOpenScale {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0)
	}

	40% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

	60% {
		opacity: .9;
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}
}

.box-close-scale {
	-webkit-animation: fuiCloseScale .3s 0s ease both;
	animation: fuiCloseScale .3s 0s ease both
}

@-webkit-keyframes fuiCloseScale {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0)
	}
}

@keyframes fuiCloseScale {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0)
	}
}

.boxbg {
	position: fixed;
	left: 0;
	right: 0;
	background-color: rgba(63, 63, 63, .5);
	z-index: 9000;
	top: 0;
	bottom: 0
}

.boxb {
	position: fixed;
	z-index: 9001;
	left: 8px;
	right: 8px;
	bottom: 8px
}

.boxb .boxb-ul {
	background-color: #fff;
	border-radius: 3px
}

.boxb .boxb-ul li:nth-child(n+2) {
	border-top: 1px solid #eee
}

.boxb .boxb-ul a {
	display: block;
	text-align: center;
	height: 35px;
	line-height: 35px;
	font-size: 14px
}

.boxb .boxb-btn {
	display: block;
	text-align: center;
	height: 35px;
	line-height: 35px;
	background-color: #fff;
	margin-top: 8px;
	font-size: 14px;
	border-radius: 3px
}

.show .boxb {
	-webkit-animation: fadeInUpBig .3s .1s ease both;
	-moz-animation: fadeInUpBig .3s .1s ease both
}

.ico-free {
	width: 38px;
	height: 39px;
	background: url( //cres.fenqile.cn/fenqile_m/img/global/freet.png) no-repeat;
		background-size:38px 39px;
	display: inline-block;
	position: absolute;
	top: 1px;
	left: 0;
	z-index: 0
}

.ico-free.ico-free-twelve {
	background-image: url( //cres.fenqile.cn/fenqile_m/img/global/f_twelve.png)
}

.ico-free.ico-free-fifteen {
	background-image: url( //cres.fenqile.cn/fenqile_m/img/global/f_fifteen.png)
}

.ico-free.ico-free-eighteen {
	background-image: url( //cres.fenqile.cn/fenqile_m/img/global/f_eighteen.png)
}

.service-tag-span {
	position: relative;
	display: inline-block;
	width: 5.6rem;
	height: 1.4rem;
	margin-right: .5rem;
	vertical-align: text-bottom;
	background: url( //cres.fenqile.cn/fenqile_m/img/global/new_mb_bg.png) no-repeat;
		background-size:100% 1.4rem !important
}

.service-tag-span.app_mb_bg {
	background-image: url( //cres.fenqile.cn/fenqile_m/img/global/app_mb_bg.png)
}

.service-tag-span.xsh_bg {
	width: 5.6rem;
	height: 1.4rem;
	background-size: contain;
	background-image: url( //cres.fenqile.cn/fenqile_m/img/global/xsms_bg.png)
}

.service-tag-span.hui_bg {
	width: 1.4rem;
	background-image: url( //cres.fenqile.cn/fenqile_m/img/global/hui_bg.png)
}

span {}

span.stages-icon, span.gife-bg, span.free-bg {
	display: inline-block;
	margin: 0 .5rem 0 0;
	vertical-align: text-bottom;
	background-size: 100% 1.4rem !important
}

span.stages-icon {
	width: 5.1rem;
	height: 1.4rem;
	background: url( //cres.fenqile.cn/fenqile_m/img/global/stages_bg.png) no-repeat
}

span.free-bg, span.gife-bg {
	width: 3.2rem;
	height: 1.4rem
}

span.gife-bg {
	background: url( //cres.fenqile.cn/fenqile_m/img/global/ico_gife.png) no-repeat
}

span.free-bg {
	background: url( //cres.fenqile.cn/fenqile_m/img/global/ico_free.png) no-repeat
}

.pro-floating {
	position: fixed;
	top: 50%;
	right: 10px;
	z-index: 999
}

.pro-floating a {
	display: block;
	width: 55px;
	height: 55px
}

.pro-floating a.ignite {
	width: 100px;
	height: 100px
}

.pro-floating a img {
	background: 0 0
}

.special-ui-box {
	position: fixed;
	left: 0;
	right: 0;
	top: 50%;
	width: 100%;
	z-index: 1001
}

.special-ui-box-inner {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	z-index: 1002;
	width: 280px;
	margin: 0 auto;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	background: #fff;
	border-radius: 4px;
	font-size: 1.4rem;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .17)
}

.special-ui-close {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	height: 3.2rem;
	width: 3.2rem;
	line-height: 3.2rem
}

.special-ui-close:before, .special-ui-close:after {
	position: absolute;
	top: 15px;
	left: 9px;
	display: block;
	content: ' ';
	width: 1.5rem;
	height: 2px;
	background: #e8eaee;
	font-size: 0;
	line-height: 0
}

.special-ui-close:before {
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}

.special-ui-close:after {
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.special-ui-tit {
	height: 4.2rem;
	line-height: 4.2rem;
	border-bottom: 1px solid #eaeaea;
	font-size: 1.8rem;
	text-align: center;
	padding: 0 1.5rem;
	box-sizing: border-box;
	font-weight: 700;
	color: #5f6874;
	position: relative
}

.special-ui-tit .i-close {
	height: 4.2rem;
	line-height: 4.2rem;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 4.2rem
}

.special-ui-tit .i-close:before, .special-ui-tit .i-close:after {
	content: ' ';
	width: 2rem;
	height: 1px;
	background: #c4c6c9;
	font-size: 0;
	line-height: 0;
	display: block;
	position: absolute;
	top: 2.1rem;
	right: 1.5rem
}

.special-ui-tit .i-close:before {
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}

.special-ui-tit .i-close:after {
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.special-ui-a {
	font-size: 1.4rem;
	position: absolute;
	left: 1.5rem;
	font-weight: 400
}

.special-ui-con {
	position: relative;
	padding: 2rem 2.4rem;
	font-size: 1.3rem;
	color: #566272;
	word-break: break-all;
	word-wrap: break-word
}

.special-ui-con-tit {
	margin-bottom: 1.2rem;
	text-align: center;
	font-size: 1.6rem;
	color: #1c2838;
	font-weight: 700
}

.special-ui-txt {
	text-align: center;
	line-height: 1.9rem
}

.special-ui-txt.text-left {
	text-align: left
}

.special-ui-pay {
	text-align: center;
	color: #b5bbc4;
	font-size: 1.2rem
}

.special-ui-pay .pay-style {
	margin-bottom: 1.4rem
}

.special-ui-pay .pay-money-all {
	color: #3b9bff;
	font-size: 2.4rem;
	line-height: 2.4rem
}

.special-ui-input {
	padding: 1.2rem;
	border: 1px solid #f1f4f7;
	border-radius: 4px
}

.special-ui-input input {
	height: 1.6rem;
	font-size: 1.6rem;
	line-height: 1.6rem;
	width: 100%;
	border: 0
}

.special-ui-input-pass {
	padding: 0 1.2rem;
	border: 1px solid #f1f4f7;
	height: 4.5rem;
	background: #fff;
	line-height: 4.5rem;
	box-sizing: border-box;
	border-radius: 6px
}

.special-ui-input-pass input {
	background-color: transparent;
	font-size: 1.4rem;
	width: 65%;
	box-sizing: border-box;
	border: 0
}

.special-ui-btn {
	height: 4.4rem;
	line-height: 4.4rem;
	font-size: 1.4rem;
	border-top: 1px solid #e8eaee;
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.special-ui-btn a {
	color: #78baff;
	display: block;
	font-weight: 700;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center
}

.special-ui-btn a:last-child {
	color: #3b9bff
}

.special-ui-btn a:nth-child(2) {
	border-left: 1px solid #e8eaee
}

.special-ui-btn .btn-child {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: block;
	text-align: center
}

.special-ui-btn .btn-child a {
	color: #78baff;
	display: block
}

.special-ui-btn .btn-child:last-child a {
	color: #3b9bff
}

.special-ui-btn .btn-child:nth-child(2) {
	border-left: 1px solid #e8eaee
}

.flex-body {
	height: 100%
}

.flex-body body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.flex-body body .scroll-box-out {
	width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}
