<section className="side-slide option-slide" id="filtrate_wrap">
    <div  className="js-g-fragment-layer hide" style="width: 100%;">
        <!-- 遮罩 -->
        <div className="fui-mask js-mask"></div>
        <div  className="js-g-fragment-content  fui-f-ov" style="height: 693px;">
            <div className="choose-list">
                <ul className="item-list">
                    <!--一级分类-->
                    <li className="arrow-right-link">
                        <dl>
                            <dt className="js-filter-type">
                                <a href="javascript:;" className="list-title">
                                    <span>类目</span>
                                    <span className="js-filter-selected-0 js-filter-selected-text"></span>
                                </a>
                            </dt>
                        </dl>
                    </li>
                    <!--二级分类-->
                    <div className="choose-list show-left hide js-filter-type-list">
                        <div className="all-classNameify">
                            <i className="g-return js-filter-type-list-back"></i>
                            <p>类目</p>
                        </div>
                        <ul className="classNameify-list-wrap">
                            <li className="js-second-filter-item-list ">
                                <dl>
                                    <dt className="js-filter-type">
                                        <a href="javascript:;" className="list-title">
                                            <span>手机通讯</span>
                                            <span className="js-second-filter-selected js-second-filter-selected-0-0"></span>
                                        </a>
                                    </dt>
                                    <dd>
                                        <a href="javascript:;" className="list-title js-filter-item ">Android</a>
                                        <a href="javascript:;" className="list-title js-filter-item ">其他</a>
                                        <a href="javascript:;" className="list-title js-filter-item ">二手手机</a>
                                    </dd>
                                </dl>
                            </li>
                            <li className="js-second-filter-item-list ">
                                <dl>
                                    <dt className="js-filter-type">
                                        <a href="javascript:;" className="list-title">
                                            <span>公益购物</span>
                                            <span className="js-second-filter-selected js-second-filter-selected-0-1"></span>
                                        </a>
                                    </dt>
                                    <dd>
                                        <a href="javascript:;" className="list-title js-filter-item " >青年榜样</a>
                                    </dd>
                                </dl>
                            </li>
                            <li className="js-second-filter-item-list ">
                                <dl>
                                    <dt className="js-filter-type">
                                        <a href="javascript:;" className="list-title">
                                            <span>电脑办公</span>
                                            <span className="js-second-filter-selected js-second-filter-selected-0-2"></span>
                                        </a>
                                    </dt>
                                    <dd>
                                        <a href="javascript:;" className="list-title js-filter-item ">电脑配件</a>
                                    </dd>
                                </dl>
                            </li>
                            <li className="js-second-filter-item-list ">
                                <dl>
                                    <dt className="js-filter-type">
                                        <a href="javascript:;" className="list-title">
                                            <span>智能数码</span>
                                            <span className="js-second-filter-selected js-second-filter-selected-0-3"></span>
                                        </a>
                                    </dt>
                                    <dd>
                                        <a href="javascript:;" className="list-title js-filter-item " >影音娱乐</a>
                                        <a href="javascript:;" className="list-title js-filter-item " >手机配件</a>
                                        <a href="javascript:;" className="list-title js-filter-item " >电子教育</a>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>

                    <li className="js-first-filter-item-list" >
                        <dl>
                            <dt className="js-filter-type" >
                                <a href="javascript:;" className="list-title">
                                    <span>品牌</span>
                                    <span className="js-filter-selected-1 js-filter-selected-text"></span>
                                </a>
                            </dt>
                            <dd className="clear js-brand-wrap">
                                <div className="">
                                    <a href="javascript:;" className="js-filter-item" >
                                                vivo
                                            </a>
                                </div>
                                <div className="">
                                    <a href="javascript:;" className="js-filter-item" >
                                                自闭症儿童帮扶
                                            </a>
                                </div>
                                <div className="">
                                    <a href="javascript:;" className="js-filter-item" >
                                                新贵（Newmen）
                                            </a>
                                </div>
                                <div className="more-title">
                                    <a href="javascript:;" className="js-filter-item" >
                                                Hot link
                                            </a>
                                </div>
                                <div className="more-title">
                                    <a href="javascript:;" className="js-filter-item" >
                                                MIPOW
                                            </a>
                                </div>
                            </dd>
                        </dl>
                    </li>
                    <li className="js-first-filter-item-list">
                        <dl>
                            <dt className="js-filter-type">
                                <a href="javascript:;" className="list-title">
                                    <span>颜色</span>
                                    <span className="js-filter-selected-2 js-filter-selected-text"></span>
                                </a>
                            </dt>
                            <dd className="clear js-brand-wrap">
                                <div className="">
                                    <a href="javascript:;" className="js-filter-item" >
                                                玫瑰金
                                            </a>
                                </div>
                                <div className="">
                                    <a href="javascript:;" className="js-filter-item" >
                                                磨砂黑
                                            </a>
                                </div>
                                <div className="">
                                    <a href="javascript:;" className="js-filter-item" >
                                                金色
                                            </a>
                                </div>
                                <div className="more-title">
                                    <a href="javascript:;" className="js-filter-item" >
                                                香槟金
                                            </a>
                                </div>
                                <div className="more-title">
                                    <a href="javascript:;" className="js-filter-item" >
                                                黑金
                                            </a>
                                </div>
                                <div className="more-title">
                                    <a href="javascript:;" className="js-filter-item" >
                                                星空灰
                                            </a>
                                </div>
                                <div className="more-title">
                                    <a href="javascript:;" className="js-filter-item">
                                                梦幻粉
                                            </a>
                                </div>
                                <div className="more-title">
                                    <a href="javascript:;" className="js-filter-item" >
                                                宝石红
                                            </a>
                                </div>
                                <div className="more-title">
                                    <a href="javascript:;" className="js-filter-item" >
                                                极光白
                                            </a>
                                </div>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div className="list-btn">
                <a href="javascript:;" className="reset-btn" id="filter_reset">重置</a>
                <a href="javascript:;" className="confirm-btn" id="filter_confirm">确定</a>
            </div>
        </div>
    </div>
</section>




 <li className="js-first-filter-item-list" >
                                    <dl>
                                        <dt className="js-filter-type" >
                                            <a href="javascript:;" className="list-title">
                                                <span>品牌</span>
                                                <span className="js-filter-selected-1 js-filter-selected-text"></span>
                                            </a>
                                        </dt>
                                        <dd className="clear js-brand-wrap">
                                            <div className="">
                                                <a href="javascript:;" className="js-filter-item" >
                                                            vivo
                                                        </a>
                                            </div>
                                            <div className="">
                                                <a href="javascript:;" className="js-filter-item" >
                                                            自闭症儿童帮扶
                                                        </a>
                                            </div>
                                            <div className="">
                                                <a href="javascript:;" className="js-filter-item" >
                                                            新贵（Newmen）
                                                        </a>
                                            </div>
                                            <div className="more-title">
                                                <a href="javascript:;" className="js-filter-item" >
                                                            Hot link
                                                        </a>
                                            </div>
                                            <div className="more-title">
                                                <a href="javascript:;" className="js-filter-item" >
                                                            MIPOW
                                                        </a>
                                            </div>
                                        </dd>
                                    </dl>
                                </li>