.cart {
    .weex-root, .weex-root * {
    color: initial;
    cursor: initial;
    direction: initial;
    font: initial;
    font-size: initial;
    font-family: initial;
    font-style: initial;
    font-variant: initial;
    font-weight: initial;
    line-height: initial;
    text-align: initial;
    text-indent: initial;
    visibility: initial;
    white-space: initial;
    word-spacing: initial;
    font-family: BlinkMacSystemFont, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
    .weex-ct {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        position: relative;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        flex-grow: 0;
        -webkit-flex-basis: auto;
        flex-basis: auto;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        
        align-items: stretch;
        -webkit-align-content: flex-start;
        /* autoprefixer: on */
        align-content: flex-start;
        border: 0 solid black;
        margin: 0;
        padding: 0;
        min-width: 0;
    }

    .weex-root * {
        border-width: 0;
        border-color: inherit;
        border-style: solid;
    }

    .weex-root,
    .weex-root *,
    .weex-root *::before,
    .weex-root *::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        text-size-adjust: none;
    }

    .weex-root,
    .weex-root * {
        color: initial;
        cursor: initial;
        direction: initial;
        font: initial;
        font-size: initial;
        font-family: initial;
        font-style: initial;
        font-variant: initial;
        font-weight: initial;
        line-height: initial;
        text-align: initial;
        text-indent: initial;
        visibility: initial;
        white-space: initial;
        word-spacing: initial;
        font-family: BlinkMacSystemFont, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .weex-text {
    display: -webkit-box;
    display: -moz-box;
    /* autoprefixer: off */ 
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    position: relative;
    white-space: pre-wrap;
    font-size: 0.4266666666666667rem;
    word-wrap: break-word;
    overflow: hidden;
}
.weex-el {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    border: 0 solid black;
    margin: 0;
    padding: 0;
    min-width: 0;
}
.weex-root p, .weex-root ol, .weex-root ul, .weex-root dl, .weex-root figure {
    margin: 0;
    padding: 0;
}
    .app-web-header-place{
        height: 45px;
    }
    .app-web-header {
    background-color: #ffffff;
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e8eaee;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header-left {
    width: 2.66667rem;
    height: 44px;
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    
    -webkit-box-align: center;
    -webkit-align-items: center;
    /* autoprefixer: on */
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.header-title {
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    color: #394050;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    lines: 1;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}
.header-right{
    width: 4.66667rem;
    height: 44px;
    /* autoprefixer: off */ 
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
     /* autoprefixer: on */
    -webkit-justify-content: center;
    justify-content: center;
}
.header-left-btn {
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 0px;
}
.g-back {
    width: 14px;
    height: 14px;
    border-style: solid;
    border-color: #a7afc2;
    border-top-width: 0.02667rem;
    border-right-width: 0.02667rem;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.header-right-btn {
    padding-left: 0.21333rem;
    padding-right: 0.21333rem;
}
.g-right {
    color: #586074;
    font-size: 16px;
}
.header-right-btn{
    padding-left: 0.21333rem;
    padding-right: 0.21333rem;
}
.cart-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 52px;
    z-index: 100;
    background-color: #fff;
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.cart-bottom-left {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    height: 52px;
    padding-left: 16px;
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
     /* autoprefixer: on */
    align-items: center;
    border-color: #e8eaee;
    border-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
}
.check-wrap {
    padding-right: 12px;
}
.amount-detail {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    height: 52px;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    /* autoprefixer: on */
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.cart-active {
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
}
.checked-box {
    width: 20px;
    height: 20px;
}

.weex-image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}
.select-wrap  figure {
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.amount-item {
    height: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
}
.count-pay {
    height: 18px;
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    /* autoprefixer: on*/
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.item-cost{
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
    height: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    top: -0.1px;
}
.cost-total {
    font-size: 14px;
    font-weight: 500;
    color: #394050;
    margin-right: 2px;
}
.cost-sign {
    font-size: 14px;
    color: #3B9BFF;
}
.cost-color {
    font-size: 14px;
    color: #3B9BFF;
}
.icon-count{
    width: 18px;
    height: 18px;
    position: relative;
    top: -1px;
}
.count-pay-month {
    margin-left: 2px;
    margin-right: 2px;
    color: #757C8E;
    font-size: 14px;
}
.count-pay-num {
    color: #737c8e;
    font-size: 12px;
}
.cart-active {
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
}
.cart-btn{
    height: 55px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-color: #44a0ff;
    border-style: solid;
    border-top-width: 1px;
    background-color: #44a0ff;
}
.total {
    width: 90px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.scroller-content[data-v-2a64cba3] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.weex-list-wrapper, .weex-waterfall-wrapper {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
.weex-list-wrapper, .weex-scroller-wrapper, .weex-waterfall-wrapper {
    -webkit-overflow-scrolling: touch;
}
.weex-list-inner, .weex-scroller-inner, .weex-waterfall-inner {
    -webkit-overflow-scrolling: touch;
}
.cart-wrap {
    background-color: #fff;
    margin-top: 8px;
    border-top-width: 1px;
    border-bottom-width: 0.5px;
    border-style: solid;
    border-top-color: #ebeff2;
    border-bottom-color: #ebeff2;
}
.full-off-wrap {
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    /* autoprefixer: on */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 11px;
    padding-right: 15px;
    padding-bottom: 11px;
    padding-left: 16px;
    min-height: 48px;
}
.off-tag{
    font-size: 9px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 4px;
    color: #fe4979;
    border-style: solid;
    border-color: #fe4979;
    border-width: 1px;
    border-radius: 2px;
}
.off-txt {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding-right: 8px;
    font-size: 12px;
    color: #394050;
    margin-left: 3px;
}
.make-txt {
    width: 50px;
    height: 24px;
    line-height: 24px;
    color: #fe4979;
    font-size: 12px;
    text-align: right;
}
.shop-wrap {
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-style: solid;
    border-color: #ebeff2;
    border-bottom-width: 1px;
}
.check-wrap{
    padding-right: 12px;
}
.shop-name[data-v-72e7feaa] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    lines: 1;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #25324E;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}
.shop-item{
    position: relative;
}
.handle-right {
    width: 750;
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: off */
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.shop-handle {
    height: 112px;
    width: 120px;
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    /* autoprefixer: on */
    -webkit-flex-direction: row;
    flex-direction: row;
}
.add-collect {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: #e8eaee;
}
.close {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: #3b9bff;
}
.collect {
    color: rgba(57, 64, 80, 0.6);
    font-size: 13px;
}
.close-txt{
    color: #fff;
    font-size: 13px;
}

.shop-item-detail {
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 35rem;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
}
.shop-handle {
    height: 112px;
    width: 120px;
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
}
.check-wrap {
    padding-right: 12px;
}
.item-wrap {
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 88px;
}
.item-detail{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    height: 88px;
    position: relative;
}
.img-link {
    width: 88px;
    height: 88px;
    margin-right: 12px;
    position: relative;
}
.item-detail-top {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.product-inner {
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.product-norms {
    font-size: 12px;
    color: #B9BDC6;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    lines: 1;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    margin-top: 2px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}
.product-title {
    font-size: 12px;
    color: #394050;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    lines: 1;
    text-overflow: ellipsis;
    position: relative;
    line-height: 18px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}
.tag-wrap{
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
    lines: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}
.tag {
    line-height: 10px;
    border-width: 1;
    border-style: solid;
    border-color: #fe4979;
    color: #fe4979;
    font-size: 10px;
    margin-right: 2px;
    lines: 1;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}
.item-detail-btm {
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    height: 24px;
    line-height: 24px;
}
.price-wrap{
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;

    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    /* autoprefixer: on */
    align-items: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.item-img{
    width: 88px;
    height: 88px;
}
.item-num{
    color: #394050;
    font-size: 14px;
}
.price-sign {
    font-size: 12px;
    color: #3B9BFF;
    /* position: relative; */
}
.price {
    font-size: 16px;
    color: #3B9BFF;
    position: relative;
    bottom: -2;
}
.gift-arrow {
    position: relative;
    bottom: -3px;
    left: 86px;
    width: 6px;
    height: 6px;
    background-color: #fbfdfe;
    border-color: #ecf4fb;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.shop-gift{
    background-color: #FAFBFC;
    padding-top: 3px;
    padding-left: 46px;
    padding-right: 15px;
    padding-bottom: 11px;
    position: relative;
}
.shop-hui {
    position: relative;
    padding-top: 8px;
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.shop-hui{
    position: relative;
    padding-top: 8px;
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.gift-tag {
    color: #979DAB;
    font-size: 12px;
    margin-right: 8px;
    position: relative;
    line-height: 16px;
}
.gitf-detail {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding-right: 15px;
}
.gift-tag {
    color: #979DAB;
    font-size: 12px;
    margin-right: 8px;
    position: relative;
    line-height: 16px;
}
.gift-txt {
    color: rgba(57, 64, 80, 0.4);
    font-size: 12px;
    margin-right: 0.05333rem;
    line-height: 16px;
}
.arrow-right {
    margin-top: 0.12rem;
    margin-right: 1px;
    width: 7px;
    height: 7px;
    border-style: solid;
    border-color: #747b8d;
    border-top-width: 1px;
    border-right-width: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.shop-scroller {
    /* autoprefixer: off */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    /* autoprefixer: on */
    flex-direction: row;
    height: 112px;
    width: 35rem;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.gift-arrow {
    position: relative;
    bottom: -3px;
    left: 86px;
    width: 6px;
    height: 6px;
    background-color: #fbfdfe;
    border-color: #ecf4fb;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.shop-handle {
    height: 112px;
    width: 120px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.opacity {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    background-color: transparent;
}
.weex-root, .weex-root *, .weex-root *::before, .weex-root *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}
.title-wrap{
    display: none;
}
}